resources/micdn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  elementFormDefault="qualified"
  version="1.0.0">

  <!-- endpoint 路径：空串，或以 / 开头且不以 / 结尾（如 /static、/maven） -->
  <xs:simpleType name="endpointType">
    <xs:annotation>
      <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="|/.*[^/]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root element -->
  <xs:element name="micdn">
    <xs:complexType>
      <xs:attribute name="listen" type="xs:string" default="127.0.0.1:8888" use="optional">
        <xs:annotation>
          <xs:documentation> 监听地址，格式 host:port，默认 127.0.0.1:8888 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="remote" type="xs:anyURI" use="optional">
        <xs:annotation>
          <xs:documentation> 远程配置 URL，加载时会下载并覆盖本地 micdn.xml </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="home" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation> 根目录，空表示 xml 文件所在目录，~ 表示用户主目录 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:choice minOccurs="0" maxOccurs="5">
        <xs:element name="maven" type="mavenType" minOccurs="0" maxOccurs="1" />
        <xs:element name="npmjs" type="npmjsType" minOccurs="0" maxOccurs="1" />
        <xs:element name="blob" type="blobType" minOccurs="0" maxOccurs="1" />
        <xs:element name="static" type="staticType" minOccurs="0" maxOccurs="1" />
        <xs:element name="www" type="wwwType" minOccurs="0" maxOccurs="1" />
        <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- Reusable types for jar, zip, dir -->
  <xs:complexType name="jarType">
    <xs:annotation>
      <xs:documentation> jar supports automatic parsing of META-INF/resources directory in jar file.
        If groupId is org.webjars, it will parse resources from META-INF/resources/webjars </xs:documentation>
    </xs:annotation>
    <xs:attribute name="gav" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Maven GAV coordinates (groupId:artifactId:version) </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> jar 内子目录路径（不能以 / 开头），默认 META-INF/resources </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="zipType">
    <xs:attribute name="file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Path to zip file </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> zip 包内子目录路径（相对路径，不能以 / 开头，如 sub/dir）</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dirType">
    <xs:attribute name="location" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Directory path </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- bundleType for static，不支持 zip（仅 www doc 支持） -->
  <xs:complexType name="bundleType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="jar" type="jarType" />
      <xs:element name="npm" type="npmType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="base" type="xs:string" use="optional" />
  </xs:complexType>

  <!-- dataSourceType for blob -->
  <xs:complexType name="dataSourceType">
    <xs:sequence>
      <xs:element name="server-name" type="xs:string" minOccurs="1" />
      <xs:element name="database-name" type="xs:string" minOccurs="1" />
      <xs:element name="user" type="xs:string" minOccurs="1" />
      <xs:element name="password" type="xs:string" minOccurs="1" />
      <xs:element name="schema" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- npmType: package spec @scope/package@version, optional dir (default dist) -->
  <xs:complexType name="npmType">
    <xs:annotation>
      <xs:documentation> NPM 包，格式为 @scope/package@version 或 package@version，解压后取包内 dir 目录（默认 dist） </xs:documentation>
    </xs:annotation>
    <xs:attribute name="package" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> NPM 包规格，格式为 @scope/package@version 或 package@version </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> tgz 解压后取包内的子目录（不能以 / 开头），默认 dist </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- docType for www -->
  <xs:complexType name="docType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="npm" type="npmType" />
      <xs:element name="zip" type="zipType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="location" type="endpointType" use="required">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾（如 /manual） </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- mavenType (Maven 仓库) -->
  <xs:complexType name="mavenType">
    <xs:sequence>
      <xs:element name="remote" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="alias" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/maven" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/maven" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- npmjsType (NPM 仓库) -->
  <xs:complexType name="npmjsType">
    <xs:sequence>
      <xs:element name="remote" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="alias" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/npm" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/npm" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- blobType -->
  <xs:complexType name="blobType">
    <xs:sequence>
      <xs:element name="data-source" type="dataSourceType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/blob" use="optional" />
    <xs:attribute name="maxSize" type="xs:string" default="50M" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/blob" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- staticType -->
  <xs:complexType name="staticType">
    <xs:sequence>
      <xs:element name="bundle" type="bundleType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="endpoint" type="endpointType" default="/static" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="base" type="xs:string" default="~/static" use="optional" />
  </xs:complexType>

  <!-- wwwType -->
  <xs:complexType name="wwwType">
    <xs:sequence>
      <xs:element name="doc" type="docType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
