resources/micdn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  elementFormDefault="qualified"
  version="1.0.0">

  <!-- Root element -->
  <xs:element name="micdn">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="4">
        <xs:element name="repo" type="repoType" minOccurs="0" maxOccurs="1" />
        <xs:element name="blob" type="blobType" minOccurs="0" maxOccurs="1" />
        <xs:element name="static" type="staticType" minOccurs="0" maxOccurs="1" />
        <xs:element name="www" type="wwwType" minOccurs="0" maxOccurs="1" />
        <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- Reusable types for jar, zip, dir -->
  <xs:complexType name="jarType">
    <xs:annotation>
      <xs:documentation> jar supports automatic parsing of META-INF/resources directory in jar file.
        If groupId is org.webjars, it will parse resources from META-INF/resources/webjars </xs:documentation>
    </xs:annotation>
    <xs:attribute name="gav" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Maven GAV coordinates (groupId:artifactId:version) </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="zipType">
    <xs:attribute name="file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Path to zip file </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> Directory path inside jar (relative path, should not start with /, e.g.,
          sub/dir) </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dirType">
    <xs:attribute name="location" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Directory path </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- bundleType for static -->
  <xs:complexType name="bundleType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="jar" type="jarType" />
      <xs:element name="zip" type="zipType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="base" type="xs:string" use="optional" />
  </xs:complexType>

  <!-- dataSourceType for blob -->
  <xs:complexType name="dataSourceType">
    <xs:sequence>
      <xs:element name="server-name" type="xs:string" minOccurs="1" />
      <xs:element name="database-name" type="xs:string" minOccurs="1" />
      <xs:element name="user" type="xs:string" minOccurs="1" />
      <xs:element name="password" type="xs:string" minOccurs="1" />
      <xs:element name="schema" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- docType for www -->
  <xs:complexType name="docType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="jar" type="jarType" />
      <xs:element name="zip" type="zipType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="location" type="xs:string" use="required" />
  </xs:complexType>

  <!-- repoType -->
  <xs:complexType name="repoType">
    <xs:sequence>
      <xs:element name="remote" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="alias" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="publicList" type="xs:boolean" default="true" use="optional" />
    <xs:attribute name="base" type="xs:string" default="~/.m2/repository" use="optional" />
    <xs:attribute name="endpoint" type="xs:string" default="/repo" use="optional" />
  </xs:complexType>

  <!-- blobType -->
  <xs:complexType name="blobType">
    <xs:sequence>
      <xs:element name="data-source" type="dataSourceType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="./micdn/blob" use="optional" />
    <xs:attribute name="maxSize" type="xs:string" default="50M" use="optional" />
    <xs:attribute name="endpoint" type="xs:string" default="/blob" use="optional" />
  </xs:complexType>

  <!-- staticType -->
  <xs:complexType name="staticType">
    <xs:sequence>
      <xs:element name="bundle" type="bundleType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="endpoint" type="xs:string" default="/static" use="optional" />
    <xs:attribute name="base" type="xs:string" default="~/.micdn/static" use="optional" />
  </xs:complexType>

  <!-- wwwType -->
  <xs:complexType name="wwwType">
    <xs:sequence>
      <xs:element name="doc" type="docType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
