resources/micdn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  elementFormDefault="qualified"
  version="1.0.0">

  <!-- endpoint 路径：空串，或以 / 开头且不以 / 结尾（如 /static、/maven） -->
  <xs:simpleType name="endpointType">
    <xs:annotation>
      <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="|/.*[^/]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root：maven/npm/blob/static/www 彼此无顺序要求，各至多一次（xs:all）。xi:include 在 XSD 1.0 中不能与 all 混排，故列于前段；若需与服务块交错请依赖运行时。readXml 展开后由程序校验各服务元素至多一次。 -->
  <xs:element name="micdn">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        <xs:all>
          <xs:element name="maven" type="mavenType" minOccurs="0" maxOccurs="1" />
          <xs:element name="npm" type="npmRepoType" minOccurs="0" maxOccurs="1" />
          <xs:element name="blob" type="blobType" minOccurs="0" maxOccurs="1" />
          <xs:element name="static" type="staticType" minOccurs="0" maxOccurs="1" />
          <xs:element name="www" type="wwwType" minOccurs="0" maxOccurs="1" />
        </xs:all>
      </xs:sequence>
      <xs:attribute name="listen" type="xs:string" default="127.0.0.1:8888" use="optional">
        <xs:annotation>
          <xs:documentation> 监听地址，格式 host:port，默认 127.0.0.1:8888 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="remote" type="xs:anyURI" use="optional">
        <xs:annotation>
          <xs:documentation> 远程配置 URL，加载时会下载并覆盖本地 micdn.xml </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="home" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation> 根目录，空表示 xml 文件所在目录，~ 表示用户主目录 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="log-file" type="xs:string" default="console" use="optional">
        <xs:annotation>
          <xs:documentation> console（默认，大小写不敏感）仅控制台；否则为日志文件路径（FHS 常见 /var/log/micdn/micdn.log）。二者互斥，行格式固定 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="log-level" type="xs:string" default="info" use="optional">
        <xs:annotation>
          <xs:documentation> trace|debug|debugv|diagnostic|info|warn|error|critical|fatal </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- Reusable types for jar, zip, dir -->
  <xs:complexType name="jarType">
    <xs:annotation>
      <xs:documentation> jar supports automatic parsing of META-INF/resources directory in jar file.
        If groupId is org.webjars, it will parse resources from META-INF/resources/webjars </xs:documentation>
    </xs:annotation>
    <xs:attribute name="gav" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Maven GAV coordinates (groupId:artifactId:version) </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> jar 内子目录路径（不能以 / 开头），默认 META-INF/resources </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="zipType">
    <xs:attribute name="file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Path to zip file </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> zip 包内子目录路径（相对路径，不能以 / 开头，如 sub/dir）</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="dirType">
    <xs:attribute name="location" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Directory path </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- bundleType for static，不支持 zip（仅 www doc 支持） -->
  <xs:complexType name="bundleType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="jar" type="jarType" />
      <xs:element name="npm" type="npmType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="base" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:simpleType name="bucketResolveStyleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="host" />
      <xs:enumeration value="path" />
    </xs:restriction>
  </xs:simpleType>

  <!-- blobBucketType：桶目录名（磁盘 base/name/…）与 Bearer/S3 密钥 -->
  <xs:complexType name="blobBucketType">
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> 桶名，对应磁盘子目录，不含 / </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="key" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> 与 bucket key 一致：上传/删除用 Bearer；下载另可用 ?token=sha1hex(uri+key+t)&amp;t=yyyyMMddTHHmmss（UTC）。S3：Access Key 为 micdn </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- npmType: package spec @scope/package@version, optional dir (default dist) -->
  <xs:complexType name="npmType">
    <xs:annotation>
      <xs:documentation> NPM 包，格式为 @scope/package@version 或 package@version，解压后取包内 dir 目录（默认 dist） </xs:documentation>
    </xs:annotation>
    <xs:attribute name="package" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> NPM 包规格，格式为 @scope/package@version 或 package@version </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dir" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> tgz 解压后取包内的子目录（不能以 / 开头），默认 dist </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- docType for www -->
  <xs:complexType name="docType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="npm" type="npmType" />
      <xs:element name="zip" type="zipType" />
      <xs:element name="dir" type="dirType" />
    </xs:choice>
    <xs:attribute name="location" type="endpointType" use="required">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾（如 /manual） </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- mavenType (Maven 仓库) -->
  <xs:complexType name="mavenType">
    <xs:sequence>
      <xs:element name="remote" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="alias" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/maven" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/maven" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- npmRepoType：根级 NPM 仓库（与 bundle 内的 npm 包引用 npmType 区分） -->
  <xs:complexType name="npmRepoType">
    <xs:sequence>
      <xs:element name="remote" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="alias" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/npm" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/npm" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="blobType">
    <xs:sequence>
      <xs:element name="bucket" type="blobBucketType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="base" type="xs:string" default="~/blob" use="optional" />
    <xs:attribute name="maxSize" type="xs:string" default="100M" use="optional" />
    <xs:attribute name="endpoint" type="endpointType" default="/blob" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bucket-resolve-style" type="bucketResolveStyleType" default="host" use="optional">
      <xs:annotation>
        <xs:documentation> host：Host 首段为桶名；path：endpoint 后路径首段为桶名 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- staticType -->
  <xs:complexType name="staticType">
    <xs:sequence>
      <xs:element name="bundle" type="bundleType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="endpoint" type="endpointType" default="/static" use="optional">
      <xs:annotation>
        <xs:documentation> 空串，或以 / 开头且不以 / 结尾 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="base" type="xs:string" default="~/static" use="optional" />
  </xs:complexType>

  <!-- wwwType -->
  <xs:complexType name="wwwType">
    <xs:sequence>
      <xs:element name="doc" type="docType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
